################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EfCoreGlobalFilter/CopilotIndices/17.13.431.34963
/.cr/personal/FavoritesList
/EfCoreGlobalFilter/obj/Debug/net9.0
/EfCoreGlobalFilter/obj
/.vs/EfCoreGlobalFilter/FileContentIndex
/.vs/EfCoreGlobalFilter/DesignTimeBuild
