################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EfCoreGlobalFilter/CopilotIndices/17.13.431.34963
/.cr/personal/FavoritesList
/EfCoreGlobalFilter/obj/Debug/net9.0
/EfCoreGlobalFilter/obj
/.vs/EfCoreGlobalFilter/FileContentIndex
/.vs/EfCoreGlobalFilter/DesignTimeBuild
/BulkUpdatesDeletes/bin/Debug/net9.0
/BulkUpdatesDeletes/obj
/EfcoreConcurrency/bin/Debug/net9.0
/EfcoreConcurrency/obj
/EfCoreGlobalFilter/bin/Debug/net9.0
/ConsolefEfcoreloading/bin/Debug/net9.0
/ConsolefEfcoreloading/obj/Debug/net9.0
/ConsolefEfcoreloading/obj
