################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EfCoreGlobalFilter/CopilotIndices/17.13.431.34963
/.cr/personal/FavoritesList
/EfCoreGlobalFilter/obj/Debug/net9.0
/EfCoreGlobalFilter/obj
/.vs/EfCoreGlobalFilter/FileContentIndex
/.vs/EfCoreGlobalFilter/DesignTimeBuild
/ConsolefEfcoreloading/bin/Debug/net9.0
/ConsolefEfcoreloading/obj/Debug/net9.0
/ConsolefEfcoreloading/obj/ConsolefEfcoreloading.csproj.nuget.dgspec.json
/ConsolefEfcoreloading/obj/ConsolefEfcoreloading.csproj.nuget.g.props
/ConsolefEfcoreloading/obj/ConsolefEfcoreloading.csproj.nuget.g.targets
/ConsolefEfcoreloading/obj/project.assets.json
/.vs/EfCoreGlobalFilter/v17/DocumentLayout.backup.json
/.vs/EfCoreGlobalFilter/v17/DocumentLayout.json
